<script>
    /*
    var h0 = document.body.clientHeight;
    var h1 = document.getElementById("avatar").offsetHeight;
    var h2 = document.getElementById("tags__bottom").offsetHeight;
    var h =  document.getElementById("tags__ul").scrollHeight;

    var obj    = document.getElementById("tags__ul");
    var items  = obj.getElementsByTagName("li");
    var screen_h  = h0 - h1 - h2 - 89;
    if (h > screen_h) {
      obj.style.height = screen_h + "px";
      //obj.style.paddingBottom = 15 + 'px';
      obj.style.overflowY = "scroll";
      obj.style.overflowX = "hidden";
      items[0].style.borderTop = "none";
    }
    */
    $(document).ready(function(){
      $('#pl__all').removeClass('active');
      $('#留言').addClass('active');
    });
    // Tags switcher
var clickHandler = function(id) {
  return function() {
    $(this).addClass('active').siblings().removeClass('active');
    $('.pl__all').hide();

    $('.' + id).delay(50).fadeIn(350);
  }
};
$('#tags__ul li').each(function(index){
  $('#' + $(this).attr('id')).on('click', clickHandler($(this).attr('id')));
  $('#留言').removeClass('active');
});


</script>

